@model EmployeeTaskMonitor.Core.Models.EmployeeResponseModel


<tbody>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.FirstName</td>
        <td>@Model.LastName</td>
        <td>@Model.HiredDate.ToShortDateString()</td>
        <td>
            <a asp-controller="Employees" asp-action="GetTasks" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-info btn-sm">My Tasks</button>
            </a>
            <a asp-controller="Employees" asp-action="UpdateEmployee" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-warning btn-sm">Edit</button>
            </a>
            <a asp-controller="Employees" asp-action="DeleteEmployee" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </a>
        </td>
    </tr>
</tbody>


   






